:root {
    --sectionBG: #fff;
    --Teal: #009688;
    --Magenta: #ea3670;
    --HeadBG: #607d8b;
    --Green: #1d870e;
    --Red: #ff1716;
    --sectionMargin: 15px 0;
    --sectionPadding: 20px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #acacac;
}
::-webkit-scrollbar-thumb {
    background: var(--Teal);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Cairo", sans-serif;
}
.secHead {
    padding: 10px 15px;
    margin-block: 0 20px;
    font-size: 26px;
    width: fit-content;
    color: #fff;
    background-color: var(--HeadBG);
}
.secHead img {
    width: 25px;
    height: 25px;
}
body {
    display: flex;
    justify-content: center;
    background-color: #ddd;
}
.main section {
    margin: var(--sectionMargin);
    padding: var(--sectionPadding);
    width: 90vw;
    background-color: #fff;
}
.main .home {
    display: flex;
    position: relative;
}
.main .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 220px;
    height: 100%;
    width: 2px;
    background-color: #f1f1f1;
}
.main .home::after {
    content: "130 days in ship";
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-transform: capitalize;
    color: var(--Teal);
    font-weight: bold;
}
.main .home div {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 15px;
}
.main .home div:first-child img {
    display: block;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.main .home div:first-child .lvl {
    font-size: 22px;
    font-weight: bold;
}
.main .home div:first-child .prog-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f1f1f1;
    width: 190px;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.main .home div:first-child .prog-bar span {
    background-color: var(--Teal);
    align-self: flex-start;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.main .home div:first-child > p {
    text-align: center;
    font-size: 15px;
}
.main .home div:first-child > p span {
    color: var(--Teal);
    font-weight: bold;
}
.main .home div:last-child {
    width: 70%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main .home div:last-child .name {
    color: var(--Teal);
    margin-block: 0;
}
.main .home div :last-child.description {
    line-height: 2;
}
@media (max-width: 767px) {
    .main section:first-child {
        flex-direction: column;
        align-items: center;
    }
    .main .home::before {
        top: 280px;
        left: 0;
        height: 2px;
        width: 100%;
        margin-block: 10px;
    }
    .main .home div:first-child {
        width: 100%;
    }
    .main .home div:first-child .prog-bar {
        width: 85%;
    }
    .main .home div:last-child {
        width: 100%;
        align-self: flex-start;
        margin: 30px 0 20px 0;
    }
    .main .home div :last-child.description {
        line-height: 1.5;
    }
}
.main .pts-log p {
    font-size: 20px;
    margin-block: 20px;
}
.main .pts-log p:last-of-type {
    margin-bottom: 0;
}
.main .pts-log span:last-child {
    color: var(--Magenta);
    font-weight: bold;
}
.main .pts-log hr {
    border-top: 1px solid #ccc;
}
.main .trophy div {
    display: flex;
    flex-flow: row wrap;
}
.main .trophy div img {
    margin: 20px 8px 0 8px;
}
.main .trophy div img.grayed-out {
    opacity: 0.3;
}
.main .ladder p {
    font-size: 20px;
}
.main .ladder span:first-child {
    color: #f54e40;
}
.main .ladder span:last-child {
    color: #40a2f4;
}
.main .powers div {
    width: 100%;
    display: unset;
}
.main .powers hr {
    border-top: 1px solid #f1f1f1;
}
.main .powers div {
    display: flex;
    justify-content: space-between;
    align-items: unset;
    flex-flow: row wrap;
    margin: 20px 0;
}
.main .powers div label {
    font-size: 20px;
    text-transform: capitalize;
}
.main .powers div span {
    font-weight: bold;
    font-size: 20px;
    margin-inline-end: 3px;
}
.main .powers div span {
    color: var(--Teal);
}
.main .powers div span.no {
    color: var(--Red) !important;
}
