:root {
    --Grey: #f6f6f6;
    --Cyan: #03a9f4;
    --Red: #b00020;
    --Blue: #227093;
    --Green: #218c74;
    --DarkGrey: #333333;
    --fb: #3b5998;
    --twitter: #5da9dd;
    --insta: #800080;
    --github: #1b1f23;
    --linkedin: #0077b5;
    --mainPadding: 20px;
    --mainDuration: 0.5s;
}
::selection {
    color: #fff;
    background: #000;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: var(--Cyan);
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container {
    margin-inline: auto;
    padding-inline: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 738px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 962px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    padding: var(--mainPadding) 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container div.comp-name {
    font-size: 22px;
    font-weight: bold;
}
header .container div span {
    margin: 0 10px;
    position: relative;
}
header .container div span::before,
header .container div span::after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--Cyan);
    transition: var(--mainDuration) linear;
    -webkit-transition: var(--mainDuration) linear;
    -moz-transition: var(--mainDuration) linear;
    -ms-transition: var(--mainDuration) linear;
    -o-transition: var(--mainDuration) linear;
}
header .container div span::after {
    top: -2px;
    right: 0;
}
header .container div span:hover::before,
header .container div span:hover::after {
    width: 100%;
}
header .container div span a {
    color: unset;
    text-decoration: none;
}
section.services {
    padding: var(--mainPadding) 0;
    background-color: var(--Grey);
}
section.services .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
section.services .container h1 span {
    color: var(--Cyan);
}
section.services .container p {
    text-align: center;
    line-height: 1.8;
    padding: var(--mainPadding) 0;
}
section.serv {
    padding: var(--mainPadding) 0;
}
section.serv .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
section.serv .container div {
    text-align: center;
}
section.serv .container div img {
    width: 80px;
}
section.serv .container div p {
    color: #777;
}
section.about {
    padding: var(--mainPadding) 0;
    background-color: var(--Grey);
}
section.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    section.about .container {
        flex-direction: column;
    }
    section.about .container div {
        width: unset !important;
    }
}
section.about .container img {
    width: 320px;
    height: 220px;
}
section.about .container div {
    display: inline-block;
    margin-left: 30px;
    padding: var(--mainPadding) 0;
    width: calc(100% - 355px);
}
section.about .container div p {
    margin-top: 30px;
    line-height: 1.8;
}
section.nums {
    padding: var(--mainPadding) 0;
}
section.nums .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
section.nums .container div {
    margin-block: 15px;
    padding: var(--mainPadding);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.nums .container div:first-child {
    background-color: var(--Red);
}
section.nums .container div:nth-child(2) {
    background-color: var(--Blue);
}
section.nums .container div:last-child {
    background-color: var(--Green);
}
section.nums .container div p {
    font-size: 26px;
    font-weight: bold;
}
section.skills {
    padding: var(--mainPadding) 0;
    background-color: var(--Grey);
}
section.skills .container h1 {
    text-align: center;
}
section.skills .container div {
    margin-block: 20px;
    position: relative;
    left: 100px;
    background-color: #ccc;
    width: calc(100% - 100px);
    height: 35px;
}
section.skills .container div::before {
    content: attr(data-lang);
    position: absolute;
    top: 5px;
    left: -110px;
    width: 100px;
    text-align: right;
    font-size: 18px;
}
section.skills .container div span {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    background-color: var(--Cyan);
    color: #fff;
}
section.contact {
    padding: var(--mainPadding) 0;
}
section.contact .container h1 {
    text-align: center;
}
section.contact .container div.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
footer {
    padding: var(--mainPadding) 0;
    background-color: var(--DarkGrey);
}
footer .container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container .fa-heart {
    color: #b00020;
}
footer .container a {
    color: var(--Cyan);
    text-decoration: none;
}
@media (max-width: 767px) {
    footer .container {
        flex-direction: column;
        gap: 10px;
    }
}
