:root {
    --Cyan: #2196f3;
    --Orange: #f44336;
    --Green: #009688;
    --Red: #e91e63;
    --LightGrey: #eee;
    --DarkGrey: #7e7e7e;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--LightGrey);
}
::-webkit-scrollbar-thumb {
    background: var(--Red);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--LightGrey);
    font-family: "Cairo", sans-serif;
}
.offer {
    width: 130px;
    padding: 10px 15px;
    position: absolute;
    top: 15px;
    right: 5%;
    background-color: var(--Cyan);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.offer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 21px solid;
    border-color: transparent var(--LightGrey) transparent transparent;
}
.main {
    width: 95%;
    margin: 80px auto;
    background-color: var(--LightGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.main .plan {
    width: calc((100% - 90px) / 2);
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}
.main h1 {
    margin: -10px 0 0 0;
    padding: 20px;
    color: #fff;
    font-size: 22px;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}
.main .basic h1 {
    background-color: var(--Orange);
}
.main .premium h1 {
    background-color: var(--Cyan);
}
.main .plan ul li {
    padding: 20px 0 20px 50px;
    text-transform: capitalize;
    list-style: none;
    position: relative;
    cursor: default;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.main .plan ul li:hover {
    font-weight: bold;
    padding-left: 60px;
}
.main .plan ul li:not(:last-child) {
    border-bottom: 1px solid var(--LightGrey);
}
.main .plan ul li span {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--Green);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main .basic ul li:not(.tick) span {
    background-color: var(--Red);
}
.main .premium ul li span:not(.mk)::before,
.main .basic ul li.tick span::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 10px;
    background-color: #fff;
    width: 3px;
    height: 9px;
    transform: rotate(45deg);
}
.main .premium ul li span:not(.mk)::after,
.main .basic ul li.tick span::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: #fff;
    width: 6px;
    height: 3px;
    transform: rotate(45deg);
}
.main .basic ul li:not(.tick) span::before,
.main .basic ul li:not(.tick) span::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 9px;
    background-color: #fff;
    width: 2px;
    height: 9px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.main .basic ul li:not(.tick) span::after {
    transform: rotate(-45deg) !important;
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
}
.main .premium ul li.ques-mk span.mk {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 90%;
    color: #fff;
    font-weight: bold;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: var(--DarkGrey);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main .premium ul li.ques-mk span.mk::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    border-width: 10px;
    border-style: solid;
    border-color: var(--DarkGrey) transparent transparent transparent;
    display: none;
}
.main .premium ul li.ques-mk span.mk::after {
    content: "This Is Tooltip Content.";
    display: flex;
    align-items: center;
    position: absolute;
    top: -53px;
    left: -158px;
    padding: 10px;
    background-color: var(--DarkGrey);
    display: none;
}
.main .premium ul li.ques-mk span.mk:hover::before,
.main .premium ul li.ques-mk span.mk:hover::after {
    display: inline-flex;
}
@media (max-width: 890px) {
    .main {
        flex-direction: column;
    }
    .main .plan {
        width: 100%;
    }
}
