* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.container {
    margin-inline: auto;
    padding-inline: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 738px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 962px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
section {
    padding-block: 50px;
    color: #777;
    background-color: #333;
}
section .container {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    gap: 80px;
}
section .container div h3 {
    color: #fff;
    margin-bottom: 15px;
}
section p,
section li,
section .container div .nums span,
section .container div div span {
    font-size: 15px;
}
section .container div .nums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 30px;
    margin-top: 30px;
}
section .container div .nums h6 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
section .container div .nums span {
    color: #fff;
}
section .container div ul li {
    list-style: none;
    margin-block: 10px;
}
section .container div form {
    margin-block: 15px;
    display: flex;
    gap: 5px;
}
section .container div form input {
    padding: 10px;
    background-color: #4c4c4c;
    flex: 1;
}
section .container div form input::placeholder {
    color: #ccc;
}
section .container div form button {
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f00;
}
section .container div form button,
section .container div form input {
    font-size: 14px;
    outline: none;
    border: none;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
section .container div div .social {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
section .container div div .social div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
section .container div div .social div:first-child {
    background-color: #3b5998;
}
section .container div div .social div:nth-child(2) {
    background-color: #5da9dd;
}
section .container div div .social div:nth-child(3) {
    background-color: #1b1f23;
}
section .container div div .social div:nth-child(4) {
    background-color: #f00;
}
section .container div div .social div:last-child {
    background-color: #800080;
}
section .container div div .social div a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
footer {
    padding-block: 15px;
    color: #aaa;
    background-color: #222;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container div span {
    color: #fff;
    font-weight: bold;
}
footer .container div img {
    width: 100px;
    height: 30px;
}
@media (max-width: 768px) {
    section .container {
        grid-template-columns: 1fr !important;
        text-align: center;
    }
    section .container div form button {
        padding: 10px 42px;
        margin-left: 0;
        margin-top: 5px;
    }
    section .container div div .social {
        justify-content: center;
    }
}
@media (max-width: 991px) {
    section .container {
        grid-template-columns: 1fr 1fr;
    }
    section .container div {
        text-align: center;
    }
    section .container div div .social {
        justify-content: center;
    }
    footer .container {
        flex-direction: column-reverse;
    }
    footer .container div:first-child {
        margin-top: 15px;
        text-align: center;
    }
    footer .container div:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 30px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    section .container div form button {
        padding: 10px 42px;
        margin-left: 0;
        margin-top: 5px;
    }
}
