:root {
    --ColorOne: #2979ff;
    --ColorTwo: #b00020;
    --ColorThree: #00c853;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #aaa;
    font-family: "Lato", sans-serif;
}
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 20px;
}
.main div {
    width: 270px;
    margin-top: 50px;
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.main div:first-child {
    margin-bottom: 50px;
}
.main div:last-child {
    margin-bottom: -50px;
}
.main div h1 {
    margin: 15px 0;
    position: relative;
}
.main div h1::before {
    content: "$";
    position: absolute;
    top: 0;
    left: -15px;
    font-size: 24px;
}
.main div:first-child h1::before {
    color: var(--ColorOne);
}
.main div:nth-child(2) h1::before {
    color: var(--ColorTwo);
}
.main div:last-child h1::before {
    color: var(--ColorThree);
}
.main div p {
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    position: relative;
    left: -5px;
    color: #fff;
    cursor: default;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    transition: width 0.6s;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6s;
    -ms-transition: width 0.6s;
    -o-transition: width 0.6s;
}
.main div p:hover {
    width: 80%;
}
.main div p::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    border-width: 5px 5px 0 0;
    border-style: solid;
}
.main div:first-child p {
    background-color: var(--ColorOne);
}
.main div:first-child p::before {
    border-color: var(--ColorOne);
}
.main div:nth-child(2) p {
    background-color: var(--ColorTwo);
}
.main div:nth-child(2) p::before {
    border-color: var(--ColorTwo);
}
.main div:last-child p {
    background-color: var(--ColorThree);
}
.main div:last-child p::before {
    border-color: var(--ColorThree);
}
.main div ul li {
    margin: 10px 0;
    padding: 8px 0;
    list-style: none;
    text-align: center;
    cursor: default;
    text-transform: capitalize;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.main div ul li:hover {
    font-weight: bold;
    padding-left: 15px;
}
.main div a {
    padding: 12px;
    color: #fff;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.main div a::before,
.main div a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: inherit;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.main div a::before {
    top: -4px;
    left: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.main div a::after {
    bottom: -4px;
    right: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.main div:first-child a {
    background-color: var(--ColorOne);
}
.main div:nth-child(2) a {
    background-color: var(--ColorTwo);
}
.main div:last-child a {
    background-color: var(--ColorThree);
}
.main div a:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.main div a:hover::before,
.main div a:hover::after {
    width: 100%;
}
@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }
    .main div {
        margin: 15px 0 !important;
    }
    .main div p {
        margin-bottom: 10px;
    }
    .main div ul li {
        margin: 15px 0 !important;
    }
    .main div a {
        margin: 30px 0;
    }
}
